@media (min-width: 500px) {
    .width {
        max-width: 500px;
    }
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-title {
    margin-top: 10px;
    text-align: center;
}

.navbar-nav {
    margin-left: auto;
}
.navbar {
    padding-left: 30px !important;
    padding-right: 30px !important;
}